# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# PyTest
.pytest_cache/

src/invoice2data/install.sh
src/invoice2data/invoices-output.csv
output.txt
src/invoice2data/out.jpg
src/invoice2data/output.txt
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/termios.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/0lethqjhhM1F7b7nhBoJ2WB7rP7Ds-zVPemU0eyU-kg=/_regex.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/8cF8_i67ZD42N-BUbbaWpsv66M4ZEHxM7FUElI_I2C8=/_api_implementation.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/FWOFJr0Ko_9iRSs0ZJrFm8GrsXrDnMEJde9dSr7NewY=/python3.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._ast.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._bisect.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._blake2.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._codecs.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._collections.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._datetime.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._elementtree.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._functools.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._heapq.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._imp.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._io.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._locale.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._md5.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._operator.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._pickle.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._posixsubprocess.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._random.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._sha1.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._sha256.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._sha3.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._sha512.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._signal.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._socket.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._sre.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._stat.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._string.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._struct.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._thread.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._tracemalloc.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._warnings.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3._weakref.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.array.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.atexit.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.binascii.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.errno.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.gc.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.grp.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.itertools.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.marshal.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.math.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.posix.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.pwd.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.pyexpat.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.select.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.sys.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.time.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.unicodedata.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.zipimport.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/M2KcDmVDYL_Yq1CJMCom4n3OUETWJLIvUfy8ZvHg0Zw=/python3.zlib.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/YV6zvSQouGYedZ-D2P0FIIvU1Pdn24AOsvUtpvtaUmU=/_AES.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/YV6zvSQouGYedZ-D2P0FIIvU1Pdn24AOsvUtpvtaUmU=/_ARC4.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/a0sB6YBMdNEDj6fxohYSr9f9AsUcGBPr5Bx9kCPxQzA=/_message.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/c_9OHGNB5hkYzy9GLWRtowGpvHwB-PprKqS7FwA1uaA=/_SHA256.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/lxZFQG_YCJATvcHJZPT3KS4tVSXSHe9W0opaD3PnDKQ=/_yaml.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_bz2.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_csv.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_ctypes.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_decimal.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_hashlib.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_json.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_lzma.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_multiprocessing.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_opcode.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/_ssl.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/mmap.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/XDG_CACHE_HOME/Microsoft/Python Language Server/stubs.v1/t3txor45fEPBjGpU2EQBgGE6iSpk6Eqy8MLz4QMxALs=/readline.cpython-36m-x86_64-linux-gnu.pyi
src/invoice2data/envname/share/python-wheels/setuptools-39.0.1-py2.py3-none-any.whl
src/invoice2data/envname/bin/activate
src/invoice2data/envname/bin/activate.csh
src/invoice2data/envname/bin/activate.fish
src/invoice2data/envname/bin/activate_this.py
src/invoice2data/envname/bin/easy_install
src/invoice2data/envname/bin/easy_install-3.6
src/invoice2data/envname/bin/pip
src/invoice2data/envname/bin/pip3
src/invoice2data/envname/bin/pip3.6
src/invoice2data/envname/bin/python
src/invoice2data/envname/bin/python-config
src/invoice2data/envname/bin/python3
src/invoice2data/envname/bin/python3.6
src/invoice2data/envname/bin/virtualenv
src/invoice2data/envname/bin/wheel
src/invoice2data/envname/include/python3.6m
src/invoice2data/envname/share/python-wheels/CacheControl-0.11.7-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/appdirs-1.4.3-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/certifi-2018.1.18-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/chardet-3.0.4-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/colorama-0.3.7-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/distlib-0.2.6-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/distro-1.0.1-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/html5lib-0.999999999-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/idna-2.6-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/ipaddress-0.0.0-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/lockfile-0.12.2-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/packaging-17.1-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/pip-9.0.1-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/pkg_resources-0.0.0-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/progress-1.2-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/pyparsing-2.2.0-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/requests-2.18.4-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/retrying-1.3.3-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/six-1.11.0-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/urllib3-1.22-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/webencodings-0.5-py2.py3-none-any.whl
src/invoice2data/envname/share/python-wheels/wheel-0.30.0-py2.py3-none-any.whl
.gitignore
src/invoice2data/pdf/sitecare/19088.pdf
src/invoice2data/pdf/GourleyHoldings.pdf
src/invoice2data/pdf/Greenery.pdf
src/invoice2data/pdf/J.J.Richards.pdf
src/invoice2data/pdf/ambrosiagrove.pdf
src/invoice2data/pdf/aucklandgardenservices.pdf
src/invoice2data/pdf/dormakaba.pdf
src/invoice2data/pdf/envirowaste.pdf
src/invoice2data/pdf/otiselevatorcompany.pdf
src/invoice2data/pdf/profileplumbing.pdf
src/invoice2data/pdf/sitecare.pdf
src/invoice2data/pdf/sitecare2.pdf
src/invoice2data/pdf/spark.pdf
src/invoice2data/pdf/treefactorlimited.pdf
src/invoice2data/pdf/viplawnsgardens.pdf
src/invoice2data/pdf/vocus.pdf
src/invoice2data/pdf/watertightplumbing.pdf
src/invoice2data/pdf/erve/3623.pdf
src/invoice2data/pdf/erve/3651.pdf
src/invoice2data/pdf/erve/3673.pdf
src/invoice2data/pdf/erve/3675.pdf
src/invoice2data/pdf/erve/3718.pdf
src/invoice2data/pdf/la/00010656.pdf
src/invoice2data/pdf/laneneave/B147164.pdf
src/invoice2data/pdf/laneneave/B147186.pdf
src/invoice2data/pdf/robslawn/00001503.pdf
src/invoice2data/pdf/robslawn/00001649.pdf
src/invoice2data/pdf/sitecare/18865.pdf
src/invoice2data/pdf/sitecare/19007.pdf
src/invoice2data/pdf/sitecare/19120.pdf
src/invoice2data/pdf/sitecare/sitecare.png
src/invoice2data/pdf/watercare/Watercare_Bill_1346233-01_2019_Feb_28.pdf
src/invoice2data/pdf/watercare/1.pdf
src/invoice2data/pdf/watercare/10.pdf
src/invoice2data/pdf/watercare/11.pdf
src/invoice2data/pdf/watercare/12.pdf
src/invoice2data/pdf/watercare/13.pdf
src/invoice2data/pdf/watercare/14.pdf
src/invoice2data/pdf/watercare/15.pdf
src/invoice2data/pdf/watercare/16.pdf
src/invoice2data/pdf/watercare/17.pdf
src/invoice2data/pdf/watercare/18.pdf
src/invoice2data/pdf/watercare/19.pdf
src/invoice2data/pdf/watercare/2.pdf
src/invoice2data/pdf/watercare/20.pdf
src/invoice2data/pdf/watercare/21.pdf
src/invoice2data/pdf/watercare/22.pdf
src/invoice2data/pdf/watercare/23.pdf
src/invoice2data/pdf/watercare/24.pdf
src/invoice2data/pdf/watercare/25.pdf
src/invoice2data/pdf/watercare/26.pdf
src/invoice2data/pdf/watercare/27.pdf
src/invoice2data/pdf/watercare/28.pdf
src/invoice2data/pdf/watercare/29.pdf
src/invoice2data/pdf/watercare/3.pdf
src/invoice2data/pdf/watercare/30.pdf
src/invoice2data/pdf/watercare/31.pdf
src/invoice2data/pdf/watercare/32.pdf
src/invoice2data/pdf/watercare/33.pdf
src/invoice2data/pdf/watercare/34.pdf
src/invoice2data/pdf/watercare/35.pdf
src/invoice2data/pdf/watercare/35.8.pdf
src/invoice2data/pdf/watercare/4.pdf
src/invoice2data/pdf/watercare/5.pdf
src/invoice2data/pdf/watercare/6.pdf
src/invoice2data/pdf/watercare/7.pdf
src/invoice2data/pdf/watercare/8.pdf
src/invoice2data/pdf/watercare/9.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0008136-01_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0013620-01_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0019429-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0019619-01_2019_Feb_28.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0020412-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0024402-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0025252-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0045596-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0055752-04_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0090177-02_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0125164-01_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0545694-01_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0546109-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0546110-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0547893-01_2019_Feb_27.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0547896-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0932526-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_0935356-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_1028430-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_1358376-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_1457985-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_1529945-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_2010484-01_2019_Feb_28.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_2021982-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_2356398-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_2491819-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_3181616-01_2019_Feb_28.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_4001542-03_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_4001542-04_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_4003055-02_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_4004956-02_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_5098336-04_2019_Feb_28.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_5104452-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_5354820-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_5386577-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/Watercare_Bill_5387082-01_2019_Feb_26.pdf
src/invoice2data/pdf/watercare/negtive.pdf
.gitignore
src/invoice2data/pdf/MartinGreenLtd/2269.pdf
src/invoice2data/pdf/envirowaste/79884.pdf
src/invoice2data/out0.jpg
src/invoice2data/out1.jpg
src/invoice2data/pdf/maintenanceandrefurbishment/BC 098492.pdf
src/invoice2data/pdf/metromowingservices/6579.pdf
src/invoice2data/pdf/bosco/20903.pdf
src/invoice2data/pdf/bosco/3160889.pdf
src/invoice2data/pdf/greengorilla/131869.pdf
src/invoice2data/pdf/aps/666813.pdf
src/invoice2data/pdf/witmenterprises/ak.pdf
src/invoice2data/pdf/testing/00001503.pdf
src/invoice2data/pdf/testing/00000911.pdf
src/invoice2data/pdf/testing/00001649.pdf
src/invoice2data/pdf/testing/00002843.pdf
src/invoice2data/pdf/testing/000039559.pdf
src/invoice2data/pdf/testing/00010656.pdf
src/invoice2data/pdf/testing/0001389.pdf
src/invoice2data/pdf/testing/00016140.pdf
src/invoice2data/pdf/testing/00020690.pdf
src/invoice2data/pdf/testing/00025066.pdf
src/invoice2data/pdf/testing/00025528.pdf
src/invoice2data/pdf/testing/00157821.pdf
src/invoice2data/pdf/testing/024215.pdf
src/invoice2data/pdf/testing/10244.pdf
src/invoice2data/pdf/testing/12851.pdf
src/invoice2data/pdf/testing/131869.pdf
src/invoice2data/pdf/testing/145724.pdf
src/invoice2data/pdf/testing/1476_001.pdf
src/invoice2data/pdf/testing/1498.pdf
src/invoice2data/pdf/testing/1511.pdf
src/invoice2data/pdf/testing/159106.pdf
src/invoice2data/pdf/testing/16.pdf
src/invoice2data/pdf/testing/1649978.pdf
src/invoice2data/pdf/testing/1650018.pdf
src/invoice2data/pdf/testing/1650103.pdf
src/invoice2data/pdf/testing/1669.pdf
src/invoice2data/pdf/testing/18633.pdf
src/invoice2data/pdf/testing/187916.PDF
src/invoice2data/pdf/testing/18865.pdf
src/invoice2data/pdf/testing/19007.pdf
src/invoice2data/pdf/testing/19088.pdf
src/invoice2data/pdf/testing/19120.pdf
src/invoice2data/pdf/testing/2018-0295.pdf
src/invoice2data/pdf/testing/20190254.pdf
src/invoice2data/pdf/testing/20190560.pdf
src/invoice2data/pdf/testing/20612.pdf
src/invoice2data/pdf/testing/20903.pdf
src/invoice2data/pdf/testing/2120.pdf
src/invoice2data/pdf/testing/2265.pdf
src/invoice2data/pdf/testing/2269.pdf
src/invoice2data/pdf/testing/23182.pdf
src/invoice2data/pdf/testing/23355553.pdf
src/invoice2data/pdf/testing/23564.pdf
src/invoice2data/pdf/testing/2743.pdf
src/invoice2data/pdf/testing/276050.pdf
src/invoice2data/pdf/testing/30246658.pdf
src/invoice2data/pdf/testing/3160889.pdf
src/invoice2data/pdf/testing/3347.pdf
src/invoice2data/pdf/testing/33636.pdf
src/invoice2data/pdf/testing/35706.pdf
src/invoice2data/pdf/testing/359086.pdf
src/invoice2data/pdf/testing/3623.pdf
src/invoice2data/pdf/testing/3651.pdf
src/invoice2data/pdf/testing/3673.pdf
src/invoice2data/pdf/testing/3675.pdf
src/invoice2data/pdf/testing/3718.pdf
src/invoice2data/pdf/testing/4089.pdf
src/invoice2data/pdf/testing/44626.pdf
src/invoice2data/pdf/testing/4609.pdf
src/invoice2data/pdf/testing/476.5 397691.pdf
src/invoice2data/pdf/testing/4784.pdf
src/invoice2data/pdf/testing/482041-6.pdf
src/invoice2data/pdf/testing/4849962.pdf
src/invoice2data/pdf/testing/4933.pdf
src/invoice2data/pdf/testing/500906897.pdf
src/invoice2data/pdf/testing/5013.PDF
src/invoice2data/pdf/testing/501488.PDF
src/invoice2data/pdf/testing/56988.pdf
src/invoice2data/pdf/testing/56989.pdf
src/invoice2data/pdf/testing/58601.pdf
src/invoice2data/pdf/testing/59071.pdf
src/invoice2data/pdf/testing/6023.pdf
src/invoice2data/pdf/testing/62215.pdf
src/invoice2data/pdf/testing/6579.pdf
src/invoice2data/pdf/testing/666721.pdf
src/invoice2data/pdf/testing/666813.pdf
src/invoice2data/pdf/testing/683521.pdf
src/invoice2data/pdf/testing/701464.PDF
src/invoice2data/pdf/testing/79884.pdf
src/invoice2data/pdf/testing/8087004597.pdf
src/invoice2data/pdf/testing/90167691.PDF
src/invoice2data/pdf/testing/90168282.PDF
src/invoice2data/pdf/testing/9025398.pdf
src/invoice2data/pdf/testing/A306833.pdf
src/invoice2data/pdf/testing/Alan Walmsley 348415.pdf
src/invoice2data/pdf/testing/B147164.pdf
src/invoice2data/pdf/testing/B147186.pdf
src/invoice2data/pdf/testing/BC 098492.pdf
src/invoice2data/pdf/testing/DH CONSTRUCTION SERVICES LTD.pdf
src/invoice2data/pdf/testing/EXE21442306 Invoice.pdf
src/invoice2data/pdf/testing/Eddie invoice st clair june 2019.pdf
src/invoice2data/pdf/testing/GourleyHoldings.pdf
src/invoice2data/pdf/testing/Greenery.pdf
src/invoice2data/pdf/testing/I013368.pdf
src/invoice2data/pdf/testing/I013745.pdf
src/invoice2data/pdf/testing/I013823.pdf
src/invoice2data/pdf/testing/I06792875.pdf
src/invoice2data/pdf/testing/I246.pdf
src/invoice2data/pdf/testing/IAC1193784.pdf
src/invoice2data/pdf/testing/IN1191082.pdf
src/invoice2data/pdf/testing/IN4105.pdf
src/invoice2data/pdf/testing/IN4214.pdf
src/invoice2data/pdf/testing/INV-64016.pdf
src/invoice2data/pdf/testing/INV1511.pdf
src/invoice2data/pdf/testing/INV17528581.pdf
src/invoice2data/pdf/testing/INV17528857.pdf
src/invoice2data/pdf/testing/INV20190254.pdf
src/invoice2data/pdf/testing/INV34054.pdf
src/invoice2data/pdf/testing/INV3903.pdf
src/invoice2data/pdf/testing/IV00000001041.pdf
src/invoice2data/pdf/testing/IV00004991_2019-06-12.pdf
src/invoice2data/pdf/testing/IV025427.pdf
src/invoice2data/pdf/testing/Invoice 42122 .pdf
src/invoice2data/pdf/testing/Invoice ITR-92869.pdf
src/invoice2data/pdf/testing/Invoice_00010732_20190607_1129.pdf
src/invoice2data/pdf/testing/Invoice_1650165_03063.pdf
src/invoice2data/pdf/testing/J.J.Richards.pdf
src/invoice2data/pdf/testing/JJRichards_16026990_160269901905.pdf
src/invoice2data/pdf/testing/JMC013.pdf
src/invoice2data/pdf/testing/Metabilt.pdf
src/invoice2data/pdf/testing/OAKS RESIDENCES SUL0004102 - Statement May 2019.pdf
src/invoice2data/pdf/testing/PARJUN7.pdf
src/invoice2data/pdf/testing/R011592.pdf
src/invoice2data/pdf/testing/R019744.pdf
src/invoice2data/pdf/testing/R50860.pdf
src/invoice2data/pdf/testing/SO2168.pdf
src/invoice2data/pdf/testing/TGBC_Invoice_353809_190606143347.pdf
src/invoice2data/pdf/testing/ak.pdf
src/invoice2data/pdf/testing/ambrosiagrove.pdf
src/invoice2data/pdf/testing/aucklandgardenservices.pdf
src/invoice2data/pdf/testing/dormakaba.pdf
src/invoice2data/pdf/testing/envirowaste.pdf
src/invoice2data/pdf/testing/invoice-45744401.pdf
src/invoice2data/pdf/testing/invoice_356.pdf
src/invoice2data/pdf/testing/manuka1.pdf
src/invoice2data/pdf/testing/otiselevatorcompany.pdf
src/invoice2data/pdf/testing/profileplumbing.pdf
src/invoice2data/pdf/testing/sitecare.pdf
src/invoice2data/pdf/testing/sitecare2.pdf
src/invoice2data/pdf/testing/spark.pdf
src/invoice2data/pdf/testing/treefactorlimited.pdf
src/invoice2data/pdf/testing/viplawnsgardens.pdf
src/invoice2data/pdf/testing/vocus.pdf
src/invoice2data/pdf/testing/watertightplumbing.pdf
src/invoice2data/pdf/AucklandCouncil/EXE21442306 Invoice.pdf
src/invoice2data/out11.jpg
src/invoice2data/out10.jpg
src/invoice2data/out12.jpg
src/invoice2data/out13.jpg
src/invoice2data/out2.jpg
src/invoice2data/out3.jpg
src/invoice2data/out4.jpg
src/invoice2data/out5.jpg
src/invoice2data/out6.jpg
src/invoice2data/out7.jpg
src/invoice2data/out8.jpg
src/invoice2data/out9.jpg
src/invoice2data/pdf/testing/sitecare.png
src/invoice2data/pdf/gardenmagic.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 204698841.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - BC 406198 - BM Agreement.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - Document (168).pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 00030046.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 93409.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_1.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_0.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_3.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_4.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_5.pdf
src/invoice2data/pdf/testing2/1907131759 - BCA HF_436 - 324903_6.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_0.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_1.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_2.pdf
src/invoice2data/pdf/testing2/failed/1907131759 - BCA HF_436 - Document (168).pdf
src/invoice2data/pdf/testing2/failed/1907131759 - BCA HF_436 - BC 406198 - BM Agreement.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 204698841.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_3.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_4.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_5.pdf
src/invoice2data/pdf/testing2/successful/1907131759 - BCA HF_436 - 324903_6.pdf
src/invoice2data/run.config
